{% include 'base.html.twig' %}
{% include 'navbar.html.twig' %}

<div class="container mt-6 d-flex flex-wrap">
    {% for spell in spells %}
        {% include 'spells/spellcard.html.twig' %}
    {% endfor %}
</div>